* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondojs.jpg);
}

main {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.fondoborroso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #70be8181;
    border-radius: 5%;
    overflow: hidden;
}

.fondoborroso img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Estilos de hover y animaciones */
.fondoborroso:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.fondoborroso:hover {
    background-color: black;
}
.fondoborroso:hover p {
    color: aliceblue;
}

p { color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comparacion {
    display: flex;
    background-color: #fffcfc; 
    color: white;
    padding: 10px; 
    margin-top: 20px; 
    border: 1px solid #555; 
    border-radius: 5px;
    width: 80%; 
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

